<!DOCTYPE html>
<html>
<head>
  <title>GithubProfile</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://assets-cdn.github.com/assets/github-71026dc447d12cdf19996cb5d0313a4993f064d46a3dc90bec7724a3c9eaf344.css" media="all" rel="stylesheet">
  <link href="https://assets-cdn.github.com/assets/github2-383209cbc7ac1460fa6c2828df70490934406cc54fa79e0f5b72deb25f10d5ca.css" media="all" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
